body {
    margin: 0;
    font-family: Arial;
    color: #e7d7a2;
    background: black;
}

/* BACKGROUND */
.bg {
    position: fixed;
    inset: 0;
    background: url("assets/background.jpg") center/cover no-repeat;
    filter: brightness(0.3);
    z-index: -1;
}

/* APP */
.app {
    display: flex;
    width: 1400;
    max-width: 95%;
    margin: 0 auto;
    height: 100vh;
}

/* SIDEBAR */
.sidebar {
    width: 260px;
    background: rgba(10,10,10,0.85);
    border-right: 1px solid #3a2f1a;
    padding: 15px;
    backdrop-filter: blur(10px);
}

.logo {
    color: #d4af37;
    font-weight: bold;
    margin-bottom: 15px;
}

.sidebar input {
    width: 100%;
    padding: 8px;
    background: #111;
    border: 1px solid #3a2f1a;
    color: white;
}

/* LIST */
.character-item {
    display: flex;
    align-items: center;
    gap: 10px;

    padding: 10px;
    margin-top: 5px;

    background: #14110c;
    border: 1px solid #2a2114;

    cursor: pointer;
    transition: 0.2s;
}

.character-item:hover {
    background: #2a2114;
    transform: translateX(5px);
}

.character-icon {
    width: 48px;
    height: 48px;

    object-fit: cover;
    border-radius: 8px;

    border: 1px solid #d4af37;
    box-shadow: 0 0 8px rgba(212,175,55,0.3);
}

.character-item span {
    color: #e7d7a2;
    font-weight: 500;
}
.character-item.active {
    background: #2a2114;
    border-left: 3px solid #d4af37;
    box-shadow: 0 0 10px rgba(212,175,55,0.2);
    transform: translateX(5px);
}

#list div:hover {
    background: #2a2114;
    transform: translateX(5px);
}

/* MAIN */
.main {
    flex: 1;
    padding: 20px;
}

/* HEADER */
.header {
    display: flex;
    gap: 15px;
    align-items: center;
    background: rgba(20,17,12,0.7);
    padding: 15px;
    border: 1px solid #3a2f1a;
}

.header img {
    width: 120px;
    height: 120px;
    border-radius: 10px;
}

/* TABS */
.tabs {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 10px;
    margin-bottom: 15px;
    flex-wrap: wrap;
}

.tab {
    display: flex;
    align-items: center;
    gap: 5px;

    background: #14110c;
    border: 1px solid #3a2f1a;
    color: #e7d7a2;

    padding: 6px 10px;
    cursor: pointer;

    border-radius: 6px;
}

.tab-icon {
    width: 34px;
    height: 34px;
    object-fit: contain;
}

.tab.active {
    border-color: #d4af37;
    box-shadow: 0 0 10px rgba(212,175,55,0.4);
}

/* GRID */
.grid {
    margin-top: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
}

.card {
    background: rgba(20,17,12,0.75);
    border: 1px solid #3a2f1a;
    padding: 12px;
    transition: 0.3s;
}

.card:hover {
    border-color: #d4af37;
    transform: translateY(-2px);
}

.full {
    grid-column: span 2;
}

.glow {
    box-shadow: 0 0 15px rgba(212,175,55,0.2);
}
